# Build Artifacts
/build
/dist
/target
/out

# NetBeans/IDE-Specific Folders and Files
# Pastas de IDEs
.vscode/
.nb-gradle/
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/nb-configuration.xml
build.xml
manifest.mf
nbproject/

# Compiled Files
*.class
*.jar
*.war
*.ear
/bin/

# Logs and Documentation
*.log
/apidocs

# Misc files
.idea/
.vscode/
# Backup files
*~
#*


